html {
background-color: #f2f4f5;
}

.App {
    text-align: center;
    
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: white;
    margin-inline: 150px;
    padding-block: 30px;
    border-radius: 30px;
    margin-block: 20px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.label {
    display: block;
    text-align: left;
    color: grey;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.input {
    font-size: 22px;
    padding: 8px;
    border-radius: 8px;
}

.input-error {
  border: 1px solid red;
}

.select {
    font-size: 25px;
    margin-left: 20px;
    border: none;
    min-width: 180px;
}

.error {
    color: red;
}

.currency-option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.currency-coin {
    height: 24px;
    width: 24px;
}

.input-select {
    display: flex;
}

.button {
    padding-block: 15px;
    padding-inline: 30px;
    border-radius: 15px;
    background-color: #212121;
    border: none;
    cursor: pointer;
    color: #F8F8F8;
}

.button:hover {
    opacity: 80%;
}

.icon {
    margin-top: 20px;
    color: #212121;
}